<strong>Olá, {{provider}}</strong>
<p>Houve um cancelamento de horario, configra os detalhes abaixo:</p>
<p>
    <strong>Cliente:</strong>{{user}} </br />
    <strong>Data/hora:</strong>{{date}} <br />
    <br />
    <small>
        O horário está disponivels para novos agendamentos.
    </small>
</p>